* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* h1,h2,h3,h4,h5 { color: white;} */

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #ff3399 , black);
  z-index: -1;
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr 1fr 10%;
  min-height: 10vh;
  color: white;
}

#logo {
  grid-column: 2/3;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -4px;
}

.hamburger {
  justify-self: end;
}

section {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 60%;
  width: 80%;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headline {
  position: absolute;
  color: white;
  top: 50%;
  left: 33%;
  font-size: 100px;
  transform: translate(-20%, -70%);
  text-shadow: 2px 2px black;
  text-align: center;
}

.cta {
  position: absolute;
  top: 60%;
  left: 43%;
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
}

.cta:hover {
  background-color: #ff33cc;
}

.shadow {
  -webkit-box-shadow: 3px 3px 10px 3px #000000; 
  box-shadow: 3px 3px 10px 3px #000000;
}

@media all and (max-width: 475px) {
  .headline {
    font-size: 16vw;
    top: 50%;
    left: 28%;
  }

  .cta {
    top: 65%;
    left: 23%;
  }
} 
